/* DEPARTMENTS */
#department{
    background-color: #262b31;
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.departmentNav{
    color: white;
    margin-top: 200px;
    font-weight: bold;
    padding: 8px;
    font-size: 2rem;
    letter-spacing: 0.4rem;
}
.boxy{
    display: flex;
    flex-direction: column;
    margin:30px 0px;
    margin-bottom: 50px;
}
.dep{
    display: flex;
    justify-content: space-evenly;
}
.con{
    flex-basis: 45%;
    margin: 8px;
    margin-bottom: 20px;
    border: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
    background-color: #fff7e1;
}
.con h2{
    text-align: center;
    padding: 5px 0px;
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cont_name{
    margin-top: 25px;
}
.hod_head{
    display: flex;
    padding: 28px;
    justify-content: space-evenly;
}
.hod_head h2{
    font-size: 1.5rem;
}
.hod_desc{
    margin: 20px;
}
.divider4{
    border: 2.5px solid #ffc107;
    border-radius: 8px;
    width: 60%;
    margin: auto;
}
.divider5{
    border: 2.5px solid #ffc107;
    border-radius: 8px;
    width: 30px;
    margin: auto;
}
